/* ================================= 
            PETER'S BRANDING
==================================== */

:root {
    --deep-purple: #2E2238;
    --mid-purple: #584660;
    --purple: #2c212b;
    --purple-pink: #B379A2;
    --bubble-gum-pink: #D08AAE;

}

/* ================================= 
         BASE ELEMENTS
==================================== */

header,
body {
    display: flex;
}

header {
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, transparent, rgba(179,121,162,1) 100%), url(/images/hero-image.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--deep-purple);
    color: white;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    min-height: 100vh;
    width: 100%; 
}

body {
    font-family: monospace, sans-serif;
    color: #595959;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0; /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

h1 {
    font-size: 1.2em;
}

main {
    padding: 0 .3em;
    margin: auto;
    padding-left: 15px;
}



footer {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 2px;
    background-color:var(--deep-purple);
    text-align: center;
    color: white;
    font-size: .85em;
}

/* ================================= 
         BASE STYLIZING
==================================== */


/* Navigation */
.nav,
.nav a,
.nav-container,
.burger-container{
    display: flex;
}

.burger-container {
    position: fixed;
    display: flex;
    z-index: 10;
    flex-flow: column;
    right: 1em;
    top: 1em;
}

.hamburger-tbun {
    border-bottom: 2px white solid;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
}

.hamburger-filling {
    border-bottom: 2px white solid;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
}

.hamburger-bbun {
    border-bottom: 2px white solid;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    width: 30px;
}


.nav {
    margin-top: 50px;
    background-color: rgba(0,0,0,.75);
    flex-direction: column;
    order: -1;
    list-style-type: none;
    padding: 100px 0 0 0;
    text-align: center;
    margin: auto;
    position: fixed;
    overflow: hidden;
    width: -webkit-fill-available;
    z-index: 9;
    height: -webkit-fill-available;
    font-size: 1.25em;
}

.nav-container { /* Hide menu links*/
    z-index: 5;
    flex-direction: column;
}

/* Hide and Show Class supporting Navigation*/

.hide {
	display: none;
}

.show {
	display: block;
}

.nav a {
    flex-flow: column;
    color: white;
    padding: 25px;
}

.nav a:hover {
    background-color: rgba(179, 121, 162, .45);
    color:rgba(240, 240, 240, .75);
}

/* Coming soon: Circular button for mobile */

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroundcircle {
    padding: 1em;
    border-radius: 50%;
    background-color: rgba(103, 0, 200, 0.75);
}   

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
  }
  

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: 17.5px;
  }

/* Main content */

.intro-container {
    text-align:center;
    align-items: center;
}

.mainblur {
    filter: blur(.4rem);
}

.introduction {
    z-index: 0;
    display: flex;
    font-weight: 500;
    letter-spacing: .5px;
    word-spacing: .5px;
    font-size: 1.1em;
    text-shadow: 1px 1px #000;
    position: absolute;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
}

.introduction-paragraph {
    font-family: monospace, sans-serif;
    font-size: .9em;
    font-weight: bolder;
    text-align:center;
}

.container {
    max-width: 1028px;
    font-size: 1.1em;
}

.tool,
.tool-img {
    display: flex;
}

.tool {
    flex-direction: column;
}

.tool-img {
    flex-wrap: wrap;
    padding-bottom: 5px;
    justify-content: flex-start;
    max-width: 850px;
    place-items: flex-end;
    z-index: 1;
}

.lang-tools { /* Set images in learning section to grey */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    padding-right: 10px;
    padding-bottom: 10px;
}

.lang-tools:hover { /* Bring back the image colors */
    filter: none;
    -webkit-filter: grayscale(0%);
}

.resumediv{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    place-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  

 .resume-previous {
     padding-bottom: 15px;
 } 

/* button styling while not hovering */
.resume_button {
    font-size: .85em;
    width: 175px;
    height: 55px;
    background-color:var(--mid-purple);
    text-align: center;
    box-direction: none;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    color: white;
    outline : none;
}

/* these are the button effects on hover */
.resume_button:hover {
    background-color: var(--bubble-gum-pink)
}

/* Psuedoclasses for Hyperlinks */


a {
    text-decoration: none;
    color:var(--mid-purple);
    font-weight: bold;
}

a:hover {
    color: var(--bubble-gum-pink);
    text-decoration: none;
}


/* ================================= 
         MEDIA QUERIES
==================================== */

/* Tablets and iPads */
@media (min-width: 480px) {
    body {
      font-size: 1.1em;
    }

    .intro-container {
        font-size: 1.2em;
    }

  }


/* Small and Medium Screens */

@media (min-width: 780px) {
    body {
      font-size: 1.1em;
    }

/*--- Navigation Menu ---*/
.burger-container {
    display:none;
}

.hide {
    padding: 0;
}


.nav {
    display: flex;
    flex-direction: row;
    background: transparent;
    list-style-type: none;
    position: absolute;
    padding: 0;
}

.nav-container {
    flex-flow: inherit;
    position: absolute;
    display: flex;
    right: 25px;
    top: 10px;
}


.nav a,
.nav li {
    padding-left: 15px;
}

.nav a {
    padding: 0;
    font-size: .75em;
}

.nav a:hover {
    margin: 0;
    background-color: transparent;
    color: var(--bubble-gum-pink);
}


/* button styling while not hovering */
.resume_button {
    transition: all 1.2s;
    font-size: .90em;
    width: 185px;
    height: 55px;
    background-color:var(--mid-purple);
    text-align: center;
    box-direction: none;
    text-decoration: none;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 5px;
    color: white;
    outline : none;
}
/* these are the button effects on hover */
.resume_button:hover {
    transition: all 1s;
    width: 300px;
    border-radius: 35px;
    font-size: .95em;
    background-color: var(--bubble-gum-pink)
} 

}