/*--- Root  ---*/

:root {
    --deep-purple: #2E2238;
    --mid-purple: #584660;
    --purple: #2c212b;
    --purple-pink: #B379A2;
    --bubble-gum-pink: #D08AAE;

}

/*--- Base Styling ---*/

body {
    margin: 0;
    padding: 0;
    font-family: monospace, sans-serif;
    color: #595959;
}

header {
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 0%, transparent, rgba(179,121,162,1) 100%), url(/images/hero-image.jpg);
    background-size: cover;
    height: 1080px;
    width:100%;
    margin: 0;
    padding: 0;
    background-color: var(--deep-purple);
    color: white;
    padding: auto;
}

main {
    margin: 0 25%;
}

h1 {
    background-color: transparent;
    margin: 0;
}

h3 {
    margin-top: 15px;
}

footer {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: 2px;
    background-color:var(--deep-purple);
    text-align: center;
    color: white;
    font-size: .85em;
}


img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  }
  
img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}


/*--- Navigation Menu ---*/
.menu {
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 0;
    right: 25px;
    display: flex;
}


.menu li {
    padding: 5px 5px;
    text-align: center;
    background-color: transparent;
}

.menu a{
    color: white;
}


/* Body Content */

.lang-tools {
    height: 35px;
    width: 35px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.lang-tools:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}


.arrow {
    display:none;
  }
  

.down {
    display: none;
  }

  .projects_current {
      padding-top: 25px;
  }

/* Will activate this CSS coding as more projects get made. 
This code breaks the single column into two 

#projects {
    width: 100%;
    margin: 0 auto;;
    display: flex;
    flex-direction: row;
}

#projects li, #projects ul {
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

.projects_current {
    height: 200px;
    width: 155px; 
    margin: auto;
    padding: 0;
}

.projects_previous {
    height: 200px;
    width: 155px;
    margin: auto;
    padding: 0;
} */

/*--- Header Design ---*/
.introduction {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    word-spacing: .5px;
    font-size: 1.2em;
    line-height: 1;
    display: block;
    text-align:center;
    padding: 495px 0;
    background-color:rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px #000;

}

.introduction-paragraph {
    font-family: monospace, sans-serif;
    font-size: .9em;
    font-weight: bolder;
    padding-left: 50px;
}

.resume_button {
    background-color:rgba(103, 0, 200, 0.25);
    border:transparent;
    border-radius: 5px;
    display: flex;
    padding: 15px;
    flex-direction: row;
    margin: auto; 
}


/*--- Psuedo Classes/hyperlinking ---*/
a {
    text-decoration: none;
    color: purple;
    font-weight: bold;
}

a:hover {
    color: var(--bubble-gum-pink);
    text-decoration: none;
}

/* Mobile Readiness */

@media (max-width: 500px) {
    .menu {
        display: none;
    }

    header {
        height: 700px;
    }

    main {
        margin: 0 12%;
    }

    body {
      font-size:.85em;
    }


    .introduction {
        padding-top: 275px;
    }

    .backgroundcircle {
        height: 50px;
        width: 50px;
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(103, 0, 200, 0.75);
        margin-top: 100px;
    }   

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;
      }
      
    
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-top: 17.5px;
      }

      .lang-tools {
        height: 20px;
        width: 20px;
    }
    
    
}

@media (min-width: 3400px ) {
    header {
        height: 1440px;
    }

    .introduction {
        padding: 650px 0 700px 0;
    }
}