@font-face {
    font-family: 'MonoLisa';
    src: url("../assets/MonoLisa.ttf") format("truetype");
}

body {
  background-color: #fff; /* Light Background */
  color: #121212; /* Dark Text */
  font-family: 'MonoLisa', Mono, monospace;
  font-size: 14px;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h2 {
  color: #9580FF;
}

a {
  color: #9580FF;
}

a:hover {
  color: #80FFEA;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 75%;
}

li {
  margin-bottom: .25rem;
}

li::marker {
  color: #9580FF;
}

.pre, .code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.proficiencies h2 {
  text-align: left; /* Centers the header */
}

.proficiency-list {
  display: flex; /* Enables flexbox for the list */
  flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
  gap: 10px; /* Adds space between items */
  justify-content: left; /* Centers the items horizontally */
  list-style-type: none; /* Removes bullet points */
  margin-left: 0;
  padding: 0; /* Removes default padding */
}

ul {
  list-style-type: square;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark Background */
    color: #F8F8F2; /* Light Foreground */
  }
}