<section>
<h2>Let's Connect</h2>
<ul>
    <li><a href="https://mastodon.social/@ptrlrd" target="_blank">Mastodon</a></li>
    <li><a href="https://linkedin.com/in/ptrlrd" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/ptrlrd" target="_blank">GitHub</a></li>
    <li><a href="https://medium.com/@ptrlrd" target="_blank">Medium</a></li>
    <li><a href="mailto:inquiry@ptrlrd.com?subject=Hello Peter!" target="_blank">Email</a></li>
<!--    <li><a href="https://mastodon.social/@ptrlrd" target="_blank"><img src="/path/to/mastodon.svg" alt="Mastodon" style="fill: white;"></a></li>-->
<!--    <li><a href="https://linkedin.com/in/ptrlrd" target="_blank"><img src="/path/to/linkedin.svg" alt="LinkedIn" style="fill: white;"></a></li>-->
<!--    <li><a href="https://github.com/ptrlrd" target="_blank"><img src="/path/to/github.svg" alt="GitHub" style="fill: white;"></a></li>-->
<!--    <li><a href="https://medium.com/@ptrlrd" target="_blank"><img src="/path/to/medium.svg" alt="Medium" style="fill: white;"></a></li>-->
<!--    <li><a href="mailto:inquiry@ptrlrd.com?subject=Hello Peter!" target="_blank"><img src="/path/to/email.svg" alt="Email" style="fill: white;"></a></li>-->
</ul>
</section>
