<footer style="display: flex; justify-content: space-between; align-items: center;">
    <sub id="timeBasedGreeting">Loading greeting...</sub>
    <ul style="list-style: none; display: flex; gap: 10px; padding: 0;">
        <li><a href="https://mastodon.social/@ptrlrd" target="_blank"><i class="fab fa-mastodon"></i></a></li>
        <li><a href="https://linkedin.com/in/ptrlrd" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://github.com/ptrlrd" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://medium.com/@ptrlrd" target="_blank"><i class="fab fa-medium-m"></i></a></li>
        <li><a href="mailto:inquiry@ptrlrd.com?subject=Hello Peter!" target="_blank"><i class="fas fa-envelope"></i></a></li>
    </ul>
</footer>
