<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Meta Data Content -->
<meta name="description" content="Peter Lord is a Software Engineer.">
<meta name="keywords" content="Peter Lord, DevOps, Software Engineer, San Francisco, Bay Area, Ptrlrd">
<meta name="author" content="Peter Lord">
<meta name="copyright" content="Peter Lord. all rights reserved.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="revisit-after" content="1 days">
<meta name="robots" content="index">
<meta name="image" content="/assets/avatar.png">

<!-- Open Graph / Facebook Meta Data Content-->
<meta property="og:type" content="website">
<meta property="og:url" content="https://ptrlrd.com/">
<meta property="og:title" content="Peter Lord's Portfolio">
<meta property="og:description" content="Peter Lord is a Software Engineer.">
<meta property="og:image" content="/assets/avatar.png">

<!-- Twitter Meta Data Content -->
<meta property="twitter:card" content="photo">
<meta property="twitter:url" content="https://ptrlrd.com/">
<meta property="twitter:title" content="Peter Lord's Portfolio">
<meta property="twitter:description" content="Peter Lord is a Software Engineer.">
<meta property="twitter:image" content="/assets/avatar.pn">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="60x60" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="styles.css">

<title>{{ if .IsHome }}{{ .Site.Params.tabtitle }}{{ else }}{{ printf "%s | %s" .Site.Params.tabtitle  .Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
