<section>
<h2>Projects</h2>
<ul>
    <li>
        <a href="https://dpc.gg" target="_blank">Devops, Programming, and Coding</a> - A Discord community with about
        7,000 technologists, a place for technologists to share and learn
                    tools that help them in their journey in devops and platform engineering.
    </li>
    <li>
        <a href="https://github.com/ptrlrd/kernel" target="_blank">Kernel</a> - A Discord bot, developed
        using Nextcord.py, is designed to enhance server functionality of DPC and help moderate an active discord.

    <li>
        <a href="https://github.com/ptrlrd/ozma" target="_blank">Ozma</a> - A bot provides various features
        such as role management, sending announcements, and looking up characters in the game Final Fantasy XIV
    </li>
</ul>
</section>