body {
  font-family: Mono, monospace;
  font-size: 14px;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff; /* Light Background */
  color: #121212; /* Dark Text */
}

h2 {
  color: #FF80BF; /* Dark Gray */
}

a {
  color: #FF80BF; /* Pink */
}

a:hover {
  text-decoration: underline;
  color: #9580FF; /* Cyan */
}

ul {
  list-style: none;
  padding: 0;
}

ul {
  list-style-type: square;
  margin-left: 1.5rem;
}

li::marker {
  color: #FF80BF;
}

li {
  margin-bottom: 10px;
}

.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

img {
  display: block;
  max-width: 75%;
  height: auto;
  margin: auto;
}

pre, code {
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212; /* Dark Background */
    color: #F8F8F2; /* Light Foreground */
  }

  h2 {
    color: #9580FF; /* Purple */
  }

  a {
    color: #9580FF; /* Cyan */
  }

  a:hover {
    color: #FF80BF;
  }

  li::marker {
    color: #9580FF;
  }
}
/* Section styles */
.proficiencies h2 {
  text-align: left; /* Centers the header */
}

/* Unordered list styles */
.proficiency-list {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  display: flex; /* Enables flexbox for the list */
  justify-content: left; /* Centers the items horizontally */
  flex-wrap: wrap; /* Allows items to wrap onto the next line on smaller screens */
  gap: 10px; /* Adds space between items */
  margin-left: 0;
}
